*{
  background-color: #81D8D0;
  font-family: Arial;
}
h1{
  color: black;
  text-align: center;
}
p{
  color: black;
  margin: auto;
  text-align: center;


}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
script{
  text-align: center;
}
